{{ define "admin" }}
{{ template "header" }}
<main class="px-3 my-2">
  <!--<h2>your page.</h2>-->
  <!--<img src="static/img/people.png" width="80">-->
  {{ range . }}
  <div class="align-self-center my-4">
    <p class="lead">Login: {{ .Login }}</p>
    <p class="lead">Registration Date: {{ .Time }}</p>
    <div class="btn-group">
    <form action="/invite/{{ .Login }}" method="post">
      <div class="mb-3 align-self-center">
      <button class="btn btn-danger" type="submit">Invite</button>
      </div>
    </form>
    </div>
    {{ else }}
    <div class="align-self-center">
        <p class="lead">Uninvited not found</p>
    </div>
  {{ end }}
</main>
{{ template "footer" }}
{{ end }}